@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-poppins);
  }


  input[type="range"] {
    /* removing default appearance */
    width: 100%;
    cursor: pointer;
  }

}